In [1]:
import pandas as pd

In [4]:
df1=pd.read_csv("emails.csv")

In [5]:
df2=pd.read_csv("CAL_fire.csv")

C:\Users\viren\AppData\Local\Temp\ipykernel_20596\1598736112.py:1: DtypeWarning: Columns (13,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv("CAL_fire.csv")

In [7]:
df3=pd.read_csv("Soil Nutrients.csv")

In [8]:
df4=pd.read_csv("India_December_2024_Temperature.csv")

In [9]:
df5=pd.read_csv("Zomato.csv")

In [ ]:
#1st -  Emails spam or not spam datset

In [26]:
df1.shape

(5728, 2)

In [32]:
df1.size

11456

In [27]:
df1.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [28]:
df1.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [31]:
df1['spam'].value_counts()

0    4360
1    1368
Name: spam, dtype: int64

In [17]:
#California fire dataset

In [14]:
df2.shape

(100230, 47)

In [15]:
df2.head()

,_id,OBJECTID,* Damage,* Street Number,* Street Name,"* Street Type (e.g. road, drive, lane, etc.)","Street Suffix (e.g. apt. 23, blding C)",* City,State,Zip Code,...,Fire Name (Secondary),APN (parcel),Assessed Improved Value (parcel),Year Built (parcel),Site Address (parcel),GLOBALID,Latitude,Longitude,x,y
0,1,1,No Damage,8376.0,Quail Canyon,Road,NaN,Winters,CA,NaN,...,Quail,0101090290,510000.0,1997.0,8376 QUAIL CANYON RD VACAVILLE CA 95688,e1919a06-b4c6-476d-99e5-f0b45b070de8,38.474960,-122.044465,-1.358593e+07,4.646741e+06
1,2,2,Affected (1-9%),8402.0,Quail Canyon,Road,NaN,Winters,CA,NaN,...,Quail,0101090270,573052.0,1980.0,8402 QUAIL CANYON RD VACAVILLE CA 95688,b090eeb6-5b18-421e-9723-af7c9144587c,38.477442,-122.043252,-1.358579e+07,4.647094e+06
2,3,3,No Damage,8430.0,Quail Canyon,Road,NaN,Winters,CA,NaN,...,Quail,0101090310,350151.0,2004.0,8430 QUAIL CANYON RD VACAVILLE CA 95688,268da70b-753f-46aa-8fb1-327099337395,38.479358,-122.044585,-1.358594e+07,4.647366e+06
3,4,4,No Damage,3838.0,Putah Creek,Road,NaN,Winters,CA,NaN,...,Quail,0103010240,134880.0,1981.0,3838 PUTAH CREEK RD WINTERS CA 95694,64d4a278-5ee9-414a-8bf4-247c5b5c60f9,38.487313,-122.015115,-1.358266e+07,4.648497e+06
4,5,5,No Damage,3830.0,Putah Creek,Road,NaN,Winters,CA,NaN,...,Quail,0103010220,346648.0,1980.0,3830 PUTAH CREEK RD WINTERS CA 95694,1b44b214-01fd-4f06-b764-eb42a1ec93d7,38.485636,-122.016122,-1.358277e+07,4.648259e+06

In [16]:
df2.describe()

,_id,OBJECTID,* Street Number,Zip Code,# Units in Structure (if multi unit),# of Damaged Outbuildings < 120 SQFT,# of Non Damaged Outbuildings < 120 SQFT,Assessed Improved Value (parcel),Year Built (parcel),Latitude,Longitude,x,y
count,100230.000000,100230.000000,9.581000e+04,47429.000000,31184.000000,31085.000000,31073.00000,9.419500e+04,69812.000000,100230.000000,100230.000000,1.002300e+05,1.002300e+05
mean,50115.500000,50227.779717,3.886722e+04,46309.699973,0.433299,0.087566,0.12152,7.337022e+05,1672.283862,38.322953,-121.179297,-1.348962e+07,4.629002e+06
std,28934.053078,29107.678335,5.271695e+06,47467.653484,34.608767,0.462729,0.52558,8.603013e+06,708.451814,2.019086,1.538342,1.712474e+05,2.825063e+05
min,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0.000000e+00,0.000000,32.592548,-123.774580,-1.377852e+07,3.841346e+06
25%,25058.250000,25058.250000,7.232500e+02,0.000000,0.000000,0.000000,0.00000,5.937000e+04,1944.000000,37.350926,-122.316162,-1.361617e+07,4.488135e+06
50%,50115.500000,50115.500000,4.308500e+03,0.000000,0.000000,0.000000,0.00000,1.455510e+05,1972.000000,38.692955,-121.600277,-1.353648e+07,4.677785e+06
75%,75172.750000,75172.750000,1.000300e+04,95667.000000,0.000000,0.000000,0.00000,3.109355e+05,1987.000000,39.763874,-120.509278,-1.341503e+07,4.831688e+06
max,100230.000000,101221.000000,1.410065e+09,96311.000000,6101.000000,40.000000,20.00000,1.220403e+09,2022.000000,41.991195,-116.418163,-1.295961e+07,5.159661e+06

In [18]:
#3rd  Soil  Nutrients

In [19]:
df3.shape

(15400, 19)

In [20]:
df3.head()

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
0,Strawberry,Moderate,Day Neutral,20.887923,747.860765,6.571548,13.091483,533.762876,91.197196,170.800381,118.670058,243.331211,20.369555,low_acidic,Loam,Summer,10.0,10.0,10.0
1,Strawberry,Moderate,Day Neutral,18.062721,711.104329,6.251806,13.063016,505.789101,91.939623,179.290364,121.020244,246.910378,20.402751,low_acidic,Loam,Spring,10.0,10.0,10.0
2,Strawberry,Moderate,Short Day Period,16.776782,774.038247,6.346916,12.945927,512.985617,91.387286,181.440732,116.936806,242.699601,19.158847,low_acidic,Loam,Summer,10.0,10.0,10.0
3,Strawberry,Moderate,Short Day Period,14.281000,665.633506,6.259598,13.318922,484.860067,91.254598,176.165282,122.233153,237.096892,20.265745,low_acidic,Loam,Summer,10.0,10.0,10.0
4,Strawberry,Moderate,Day Neutral,21.444490,806.531455,6.384368,13.312915,512.747307,92.354829,182.935334,126.088234,243.880364,20.397336,low_acidic,Loam,Spring,10.0,10.0,10.0

In [21]:
df3.describe()

,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,N_Ratio,P_Ratio,K_Ratio
count,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000,15400.000000
mean,20.801671,948.814222,6.473372,9.459365,398.048832,67.117251,142.769483,107.659893,180.481105,22.749990,12.636364,11.704545,12.477273
std,4.415164,340.884493,0.449111,2.588466,190.512173,19.005233,58.524592,72.778284,103.989340,15.541414,14.028173,5.761853,7.805376
min,9.355908,409.927161,4.888871,5.044913,69.146572,29.877266,41.725552,13.155191,34.982329,0.770213,5.000000,10.000000,5.000000
25%,17.915142,707.799164,6.245973,7.017129,265.438161,53.009874,117.631453,57.627430,107.263425,11.978009,10.000000,10.000000,10.000000
50%,19.929578,846.623453,6.466286,8.985917,385.299681,63.248496,140.524941,87.731849,163.891242,21.232615,10.000000,10.000000,10.000000
75%,22.936714,1109.157262,6.697254,12.019180,508.211962,89.996774,160.186895,145.298926,223.236991,28.812111,10.000000,10.000000,10.000000
max,39.913892,2508.052849,8.023210,15.918024,985.186247,99.927439,409.639573,360.043619,579.953931,66.619242,75.000000,37.500000,37.500000

In [22]:
#4th    India Statewise tempreture variation

In [23]:
df4.shape

(28, 32)

In [24]:
df4.head()

,State,Dec 1,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,...,Dec 22,Dec 23,Dec 24,Dec 25,Dec 26,Dec 27,Dec 28,Dec 29,Dec 30,Dec 31
0,Andhra Pradesh,13.212643,10.698105,16.405815,8.497319,6.896153,33.514421,26.366592,30.615332,28.771567,...,28.637420,31.475606,14.344489,22.929506,33.006298,10.007411,24.933718,27.370134,26.649283,29.506918
1,Arunachal Pradesh,12.695942,29.566840,31.158805,10.588216,13.709803,11.024991,17.130984,31.089233,19.527048,...,29.458735,32.622218,17.273692,13.079666,10.746457,23.848608,25.417434,6.913371,7.564845,18.765009
2,Assam,34.221683,27.610922,19.972000,12.033237,30.886242,18.723383,20.659154,13.357581,18.972698,...,5.204009,22.686138,25.675395,10.805427,26.051998,14.689476,17.082374,5.923024,28.298820,19.775023
3,Bihar,10.779094,15.231415,17.850692,29.218902,8.933719,5.955923,22.229581,21.429557,31.569247,...,7.876851,28.723005,18.025004,32.105696,24.130962,22.862430,14.293511,11.288263,18.590031,23.730088
4,Chhattisgarh,34.936467,5.651792,5.474914,20.459450,11.042233,32.023758,33.792161,16.842981,18.342867,...,17.991595,25.268479,19.447461,10.116281,28.569610,28.191694,32.472130,7.523127,33.736081,24.335218

In [25]:
df4.describe()

,Dec 1,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Dec 10,...,Dec 22,Dec 23,Dec 24,Dec 25,Dec 26,Dec 27,Dec 28,Dec 29,Dec 30,Dec 31
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,...,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000
mean,20.985590,18.992647,18.492685,18.835263,18.149006,19.212183,23.343182,21.611906,19.740087,20.204809,...,17.746880,19.788446,20.601935,20.756557,24.059857,17.477368,19.964053,18.067390,22.003125,18.944774
std,9.032708,8.935137,7.709608,8.938826,9.064793,9.963056,8.049505,7.568345,8.942675,8.005237,...,9.536556,9.731835,7.084954,9.398120,8.905423,7.255834,9.398650,9.335100,8.005614,6.685022
min,5.157948,5.651792,5.263997,5.892994,5.293514,5.955923,7.139875,9.856621,5.024934,6.934916,...,5.204009,5.031339,6.116671,5.596585,5.367546,5.434330,5.059789,5.923024,7.564845,5.684329
25%,13.083468,12.453681,13.351077,10.560299,11.025384,11.799349,17.794329,15.363036,11.822746,13.181191,...,10.192807,10.060158,15.360128,12.511106,18.951445,11.448545,11.347495,9.797494,15.853825,15.276210
50%,20.772720,16.910285,18.391396,18.952598,15.453447,17.024521,23.569230,22.946987,19.541846,20.602075,...,14.820593,19.551875,19.271206,23.305042,26.825731,19.666185,22.878152,15.783080,21.382173,18.696663
75%,27.636513,27.896525,23.205073,25.922358,27.662497,29.525686,31.085431,26.572386,27.889906,26.062265,...,28.219960,28.780715,25.722285,28.219367,31.367678,22.873144,26.902502,25.689871,28.771088,23.896579
max,34.936467,33.550083,31.702260,34.841828,33.399422,33.655716,33.951815,34.199911,34.924354,34.828836,...,34.593845,32.622218,33.026442,34.661848,34.417179,28.695383,32.574419,34.962700,34.945581,29.673868